<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name='description' content='CSS & JavaScript minifier. We remove whitespace, strips, comments. For this app we use a few common programming patterns for optimizes/shortens.' />
    <meta name='keywords' content='css, js, javascript, minifier, shorten, optimize, minify, programming, coding, optimization, frontend, front-end' />

    <link rel="shortcut icon" href="icon.ico" type="image/x-icon" />
    <title>Minifier for CSS & JS - minifier.ml - optimize code | optimize css | optimize js | minify code | frontend</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142106732-1" crossorigin="anonymous"></script>#}
{#    <script>#}
{#        window.dataLayer = window.dataLayer || [];#}
{#        function gtag(){dataLayer.push(arguments);}#}
{#        gtag('js', new Date());#}

{#        gtag('config', 'UA-142106732-1');#}
{#    </script>#}
    <style type="text/css">
        .jumbotron {
            font-family: 'Shadows Into Light', cursive;
        }

        #load-forms, .jumbotron strong {
            font-family: 'Acme', sans-serif;
        }
    </style>
</head>
<body>
<header>
    <div class="jumbotron text-center">
        <h1 class="display-4">Minifier.ml</h1>
        <hr class="my-4">
        <h4 class="">Online CSS/JS Minifier/Compressor. Simple Quick and Fast.</h4>
        <strong>Written and hosted by Andrej Nankov (<a href="https://github.com/nanorocks"
                                                        target="_blank">@nanorocks</a>). </strong>
    </div>
</header>
<section id="load-forms">
    <div class="container pb-5">
        <div class="row">
            <div class="col">
                <small class="text-muted">*Invalid css or js are ignored.</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong class="p-1">SELECT YOUR TYPE:</strong>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active" id="type-css">
                        <input type="radio" name="css-input" id="option1" autocomplete="off" checked> CSS
                    </label>
                    <label class="btn btn-primary" id="type-js">
                        <input type="radio" name="js-input" id="option2" autocomplete="off"> JS
                    </label>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}/css" id="post-form">
                    <div class="form-group">
                        <label for="input-text">Input:</label>
                        <textarea class="form-control rounded-0" id="input-content-form" rows="9" name="content"
                                  id="input-content" required>{% if OldContent is defined %}{{ OldContent }}{% else %}{% endif %}</textarea>
                        {% if error is defined %}
                            <small class="text-danger" id="d-error">{{ error }}</small>
                        {% endif %}
                        {% if type is defined %}
                            <input type="hidden" name="type" id="type-hidden" value="{{ type }}">
                        {% else %}
                            <input type="hidden" name="type" id="type-hidden" value="css">
                        {% endif %}
                    </div>
                    <button class="btn btn-primary rounded-0" type="button" id="minify-btn">Minify</button>
                </form>
            </div>
            <div class="col-md-6">
                <form>
                    {% if NewContent is defined %}
                        <div class="form-group">
                            <label for="output-text">Output:</label>
                            <textarea class="form-control rounded-0" id="output-content-form" rows="9"> {{ NewContent }}
                            </textarea>
                        </div>
                        <button class="btn btn-primary rounded-0" id="output-content-form-btn"
                                type="button">Select all
                        </button>
                    {% else %}
                        <div class="form-group">
                            <label for="output-text">Output:</label>
                            <textarea class="form-control rounded-0" id="output-content-form" rows="9"
                                      disabled="true"></textarea>
                        </div>
                        <button class="btn btn-primary rounded-0" disabled="true" id="output-content-form-btn"
                                type="button">Select all
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/main.min.js"></script>
</body>
</html>